.thermometer {
  width: 60px;
  height: 250px;
  background: #e6f7f9;
  border: 3px solid #aaa;
  border-radius: 30px;
  padding: 5px;
  position: relative;
  margin: auto;
}

.mercury {
  width: 20px;
  border-radius: 10px;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}

.btn {
  padding: 8px 16px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 12px;
  border-radius: 6px;
}
